* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-size: cover;
}
body {
  background-color: rgb(46, 40, 36);
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 59px 58px 0px 82px;
}
.list {
  list-style: none;
  display: flex;
  margin-right: -296px;
  margin-top: -20px;
}
.list :nth-child(1) {
  color: rgb(238, 236, 236);
  margin-left: 20px;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 700;
}
.list :nth-child(2) {
  color: grey;
  margin-left: 50px;
  font-size: 18px;
  font-family: "Montserrat";
}
.list :nth-child(3) {
  color: grey;
  margin-left: 50px;
  font-size: 18px;
  font-family: "Montserrat";
}
.list :nth-child(4) {
  color: grey;

  margin-left: 50px;
  font-size: 18px;
  font-family: "Montserrat";
}
.button-small {
  border-block-width: 1px;
  margin-top: -20px;
  color: rgba(167, 132, 42, 0.959);
  background-color: transparent;
  padding: 15px 36px 15px 28px;
  border-radius: 9px;
  font-size: 18px;
  text-shadow: 0px 0px 2px;
  border-bottom-color: rgba(167, 132, 42, 0.959);
  border-right-color: rgba(167, 132, 42, 0.959);
  border-color: rgba(167, 132, 42, 0.959);
  font-family: "Montserrat";
  top: -15px;
  position: relative;
  font-weight: 600;
  border: 1px solid rgba(167, 132, 42, 0.959);
}
.logo {
  height: 43px;
  margin-top: -32px;
  margin-left: -16px;
}
.hero {
  margin-top: 73px;
  margin-left: 62px;
}

.heading {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  margin-right: 125px;
  font-family: "Montserrat";
  margin-bottom: 86px;
}
.hero-heading {
  font-size: 74px;
  color: rgb(238, 236, 236);
}
.heading h4 {
  font-size: 20px;
  color: rgb(192, 190, 190);
  font-weight: 500;
  line-height: 1.5;
  margin-top: 30px;
}
.body img {
  height: 550px;
  width: 325vh;
  margin-left: -63px;
}
.btm-image {
  margin: 32px -37px 24px 1095px;
  display: flex;
}
.svg1 {
  margin-right: 35px;
  margin-top: 35px;
}
.svg2 {
  margin-right: 35px;
  margin-top: 35px;
}
.btm-image .f-svg {
  background-color: rgb(75, 69, 65);
  padding: 0px 0px 45px 37px;
  margin-top: -36px;
  margin-left: -31px;
  margin-right: 20px;
  margin-bottom: -26px;
}
.btm-image .s-svg {
  background-color: rgba(167, 132, 42, 0.959);
  padding: 0px 9px 45px 25px;
  margin-top: -36px;
  margin-left: -21px;
  margin-bottom: -26px;
}
@media only screen and (max-width: 1292px) {
  .list {
    margin-right: 84px;
  }
  .hero-heading {
    font-size: 40px;
  }
}
@media only screen and (max-width: 1081px) {
  .button-small {
    font-size: 10px;
  }
  .list :nth-child(1) {
    margin-left: 20px;
  }
  .list :nth-child(2) {
    margin-left: 12px;
  }
  .list :nth-child(3) {
    margin-left: 12px;
  }
  .list :nth-child(4) {
    margin-left: 12px;
  }
}
@media only screen and (max-width: 997px) {
  .heading h4 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 971px) {
  .list {
    display: none;
  }
  .heading {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 362px) {
  .logo {
    height: 100px;
  }
  .button-small {
    margin-left: 457px;
    font-size: 27px;
  }
  .hero-heading {
    width: 100vh;
    font-size: 80px;
    margin-left: 184px;
    margin-top: 190px;
  }
  .heading h4 {
    font-size: 30px;
    margin-top: 101px;
    margin-left: 184px;
  }
  .body img {
    height: 1020px;
    width: 159vh;
    margin-left: -63px;
    margin-top: 43px;
  }
  .btm-image .f-svg {
    background-color: rgb(75, 69, 65);
    padding: 32px 28px 48px 54px;
    margin-top: -36px;
    margin-left: -290px;
    margin-right: 20px;
    margin-bottom: -26px;
  }
  .btm-image .s-svg {
    background-color: rgba(167, 132, 42, 0.959);
    padding: 32px 28px 48px 32px;
    margin-top: -36px;
    margin-left: -31px;
    margin-bottom: -26px;
  }
}
