* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}
.container {
  height: 150vh;
  box-shadow: inset 0 0 0 2000px rgba(6, 42, 77, 0.671);

  background-image: url(./assets/bgimage.png);
}
/* ---------- NAVBAR ------------ */
.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 62px 0px 10px 462px;
  font-size: 18px;
  margin-right: 100px;
  color: rgb(252, 186, 5);
}
.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.list .list-item {
  margin-right: 55px;
}
.logo {
  height: 52px;
  top: 50px;
  position: absolute;
  left: 65px;
}
.button-small {
  background-color: rgb(255, 57, 90);
  color: white;
  position: absolute;
  top: 39px;
  padding: 10px 36px;
  font-size: 25px;
  border-color: rgb(255, 57, 90);
  right: 81px;
}
/* ---------- HERO ------------ */
.hero {
  position: absolute;
  top: 221px;
  left: 27px;
}
.hero-heading {
  font-size: 105px;
  color: rgb(252, 186, 5);
  text-align: center;
  font-family: Dela Gothic One;
  line-height: 1.2;
  font-weight: 300;
}
.button-large {
  background-color: rgb(255, 57, 90);
  color: white;
  position: absolute;
  top: 435px;
  padding: 10px 47px;
  font-size: 31px;
  border-color: rgb(255, 57, 90);
  right: 503px;
  font-weight: 500;
}
.btmlogo {
  position: absolute;
  right: 80px;
  bottom: -322px;
}
